.box2dDebugCanvas{
float:left;

transform: scale(.2,-.2);
-ms-transform: scale(.2,-.2); /* IE 9 */
-webkit-transform: scale(.2,-.2); /* Safari and Chrome */
-o-transform: scale(.2,-.2); /* Opera */
-moz-transform: scale(.2,-.2); /* Firefox */
}